<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnn" connectionString="Data Source=.;Initial Catalog=M5PDB;Integrated Security=True" />
    <add name="El_Mundo_de_5_Peso.Properties.Settings.M5PDBConnectionString"
      connectionString="Data Source=.;Initial Catalog=M5PDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>